.right-side {
    display: flex;
    width: calc((110% - var(--center-width)) / 2);
    overflow: scroll;
    scrollbar-width: none;
    text-align: center;
}

form {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right-side input {
    height: 25px;
    width: auto;
    margin: 0 5px;
}

label {
    font-weight: bold;
}

input[type="time"] {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete-button {
    background-color: rgb(255, 135, 135);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.edit-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-buttons button {
    width: 80px;
}

.save-button {
    margin: auto;
    background-color: rgb(0, 191, 255);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.add-button {
    margin: auto;
    background-color: rgb(21, 212, 21);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}